:root
{
    --color_principal:#E50914;
    --color_secundary:#141414; 
}

/* reset css */
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Basic elements */
body
{
    background-color: var(--color_secundary);
    font-family: 'Times New Roman', Times, serif;
    color:whitesmoke
}

header .container
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header .logo
{
    margin-left: 5px;
    color: var(--color_principal);
    font-family: 'Arial Black', Times;
    font-size: 40px;
}

header nav a
{
    text-decoration: none;
    color: #AAA;
    margin-right: 10px;
}

header nav a:hover
{
    color: whitesmoke
}

/* Principal Video Componet elements */
.featured-video 
{
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.50), rgba(0,0,0,.50)100%), 
                url('../resources/img/chihiro.jpg');
    height: 600px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.featured-video .description
{
    margin-bottom: 40px;
}

.featured-video .title
{
    margin-top: 15%;
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.featured-video .button
{
    background-color: rgba(0,0,0,.50);
    border: none;
    color: white;
    padding: 15px 30px;
    margin-right: 20px;
    font-size: 12px;
    cursor:pointer;
    transition: .5s ease all;
}

.featured-video .button:hover
{
    background-color: whitesmoke;
    color: black;
}

.featured-video .button .fas
{
    margin-right: 5px;
}