:root
{
    --color_principal:#E50914;
    --color_secundary:#141414; 
}

/* reset css */
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Basic elements */
body
{
    background-color: var(--color_secundary);
    font-family: 'Times New Roman', Times, serif;
    color:whitesmoke
}

header .container
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header .logo
{
    margin-left: 5px;
    color: var(--color_principal);
    font-family: 'Arial Black', Times;
    font-size: 40px;
}

header nav a
{
    text-decoration: none;
    color: #AAA;
    margin-right: 10px;
}

header nav a:hover
{
    color: whitesmoke
}

/* Principal Componet displayed elements */
.featured-movie 
{
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.50), rgba(0,0,0,.50)100%), url('../resources/img/chihiro.jpg');
    height: 600px;
    background-size: cover;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.featured-movie .description
{
    margin-bottom: 40px;
}

.featured-movie .title
{
    font-size: 40px;
}